html {
height:100%
}

body {
background:#202020;
margin:0;
padding:0
width:device-width
}

.middle {
width:device-width;
margin:auto;
position:static;
height:inherit
}

.content {
padding:0 0 0 50px
}

.header {
background:#101010
}

.footer {
height:100px;
background:#101010
}

.topmenu {
float:none
}

.button_menu {
display:inline-block;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
padding:10px 20px;
border:none;
color:rgba(255,255,255,0.9);
-o-text-overflow:clip;
text-overflow:clip;
background:#404040;
width:70px
}

.footer {
margin-bottom:30px;
width:100%;
height:66px;
background:#101010;
position:relative;
text-align:center
}

A {
color:#ffd700
}

A:visited {
color:#ffd700
}

A:active {
color:#ffd700
}