@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}
/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* Удаление верхнего поля позволит обойти проблему выхода полей за границы содержащего их контейнера блока. Оставшееся нижнее поле изолирует его от всех последующих элементов. */
	padding-right: 15px;
	padding-left: 15px; /* Добавление боковых полей к элементам внутри контейнеров блока, а не к самим элементам контейнеров избавит от необходимости расчета рамочной модели. В качестве альтернативы можно использовать вложенный контейнер блока с боковыми полями. */
}
a img { /* Этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка. */
	border: none;
}
/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* Если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание. */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* Эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}
/* ~~ Этот контейнер фиксированной ширины окружает остальные блоки ~~ */
.container {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto; /* При указании автоматического значения по сторонам в совокупности с шириной макет будет центрироваться. */
}
/* ~~ Заголовку не задается  ширина. Он растянется на всю ширину макета. ~~ */
header {
	background-color: #ADB96E;
}
/* ~~ Столбцы для макета. ~~ 

1) Поля размещены только вверху и/или внизу блочных элементов. Элементы в этих блоках имеют боковые поля. Это избавляет пользователя от необходимости расчетов рамочной модели. Помните, что при добавлении боковых полей или границы к самому блоку их ширина будет добавлена к задаваемой ширине, что образует «полную» ширину. Кроме того, можно удалить поля элемента в блочном элементе и поместить внутри него второй блочный элемент без ширины и с необходимыми по проекту полями.

2) Поля не добавляются к столбцам, поскольку все столбцы являются обтекаемыми. Если нужно добавить поле, то не нужно помещать его с той стороны, где производится обтекание столбца (например, правое поле у блока, для которого задано обтекание справа). Часто вместо этого можно применить заполнение (padding). Для тех блоков, где это правило необходимо нарушить, добавьте в правило элемента блока объявление «display:inline», чтобы исправить ошибку с удвоением полей в некоторых версиях Internet Explorer.

3) Поскольку классы можно использовать в документе многократно (а к элементу может быть применено несколько классов), столбцам вместо идентификаторов назначаются имена классов. Например, два блока в виде боковых панелей могут при необходимости стыковаться. При желании эти имена легко заменить на идентификаторы, но при этом они должны встречаться в документе однократно.

4) Если панель навигации должна находиться слева, а не справа, то просто установите обтекание столбцов в противоположном направлении (все слева, а не справа), они выстроятся в обратном порядке. Перемещать блок в исходном коде HTML-документа не нужно.

*/
.sidebar1 {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 600px;
	float: left;
}
aside {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding: 10px 0;
}

/* ~~ Этот сгруппированный селектор выдает списки в пространстве .content ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* Это поле представляет собой зеркальное отражение правого поля в правиле для заголовков и параграфов выше. Внизу поле помещено как граница между элементами списков, а слева — как отступ. При необходимости поля могут быть настроены. */
}

/* ~~ Стили списка навигации (можно убрать, если используется готовое меню, например Spry) ~~ */
ul.nav {
	list-style: none; /* Удаляет маркер списка. */
	border-top: 1px solid #666; /* Создает верхнюю границу ссылок — все остальные размещаются по нижней границе в LI. */
	margin-bottom: 15px; /* Создает пространство между навигацией по содержимому ниже. */
}
ul.nav li {
	border-bottom: 1px solid #666; /* Разделяет кнопки. */
}
ul.nav a, ul.nav a:visited { /* Группировка этих селекторов гарантирует, что ссылки будут выглядеть как кнопки даже после того, как пользователь перейдет по ним. */
	padding: 5px 5px 5px 15px;
	display: block; /* Наделяет ссылку свойствами блока, из-за чего она заполняет весь содержащий ее элемент LI. При этом вся область реагирует на щелчок мышью. */
	width: 160px;  /*Такая ширина позволит в IE6 нажимать всю кнопку целиком. Если поддержка IE6 не нужна, то эту строку можно удалить. Чтобы вычислить правильную ширину, вычтите ширину полей этой ссылки из ширины контейнера боковой панели. */
	text-decoration: none;
	background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* Изменяет цвет текста и фона при навигации с помощью клавиатуры и мыши. */
	background-color: #ADB96E;
	color: #FFF;
	font-size: 24px;
}

/* ~~ Нижний колонтитул ~~ */
footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* IE6 получает hasLayout для правильной очистки. */
	clear: both; /* Это свойство очистки заставляет .container видеть место окончания столбцов и включать их. */
}
/* ~~ Прочие классы float/clear ~~ */
.fltrt {  /* Этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* Этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* Этот класс можно поместить в теге <br /> или в пустом блочном элементе в качестве конечного элемента, следующего за последним обтекаемым блоком (внутри .container), если .footer удален или извлечен из .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*Поддержка HTML 5 — создает новые теги HTML 5 display:block для корректного отображения этих тегов браузерами. */
header, section, footer, aside, article, figure {
	display: block;
	font-size: 14px;
	text-align: left;
}
